:root {

}

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-text:#000;
    --violet-k: #A97DDB;
    --bg-title-tracks: #fff;
    --bg-section: #ECDCFF;
    --bg-tracks:#fff;
    --bg-profile:#ECDCFF;

    --img-header:url(../img/scene/group1.jpg);
    --img-footer:url(../img/scene/group2.jpg);
    --img-cover:url(../img/project_light.jpg);

    --img-yujin-small:url(../img/scene/yujin1.jpg);
    --img-xiaoting-small:url(../img/scene/xiaoting1.jpg);
    --img-mashiro-small:url(../img/scene/mashiro1.jpg);
    --img-chaehyun-small:url(../img/scene/chae1.jpg);
    --img-dayeon-small:url(../img/scene/dayeon1.jpg);
    --img-hikaru-small:url(/img/scene/hikaru1.jpg);
    --img-hiyyih-small:url(../img/scene/hiyyih1.jpg);
    --img-youngeun-small:url(../img/scene/youngeun1.jpg);
    --img-yeseo-small:url(../img/scene/yeseo1.jpg);

    --img-yujin-profile:url(../img/scene/yujin2.jpg);
    --img-xiaoting-profile:url(../img/scene/xiaoting2.jpg);
    --img-mashiro-profile:url(../img/scene/mashiro2.jpg);
    --img-chaehyun-profile:url(../img/scene/chae2.jpg);
    --img-dayeon-profile:url(../img/scene/dayeon2.jpg);
    --img-hikaru-profile:url(../img/scene/hikaru2.jpg);
    --img-hiyyih-profile:url(../img/scene/hiyyih2.jpg);
    --img-youngeun-profile:url(../img/scene/youngeun2.jpg); 
    --img-yeseo-profile:url(../img/scene/yeseo2.jpg);

    --profile-position:center;
    --hiyyih-position:right;
}

[data-theme="dark"] {
    --color-bg:#221B2F;
    --color-text:#fff;
    --violet-k: #A97DDB;
    --bg-title-tracks: #594875;
    --bg-section: #28273B;
    --bg-tracks:#C9A9ED;
    --bg-profile:#56467E;

    --img-header:url(../img/nous/group1.jpg);
    --img-footer:url(../img/nous/group2.jpg);
    --img-cover:url(../img/project_dark.jpg);

    --img-yujin-small:url(../img/nous/yujin1.jpg);
    --img-xiaoting-small:url(../img/nous/xiaoting1.jpg);
    --img-mashiro-small:url(../img/nous/mashiro1.jpg);
    --img-chaehyun-small:url(../img/nous/chae1.jpg);
    --img-dayeon-small:url(../img/nous/dayeon1.jpg);
    --img-hikaru-small:url(/img/nous/hikaru1.jpg);
    --img-hiyyih-small:url(../img/nous/hiyyih1.jpg);
    --img-youngeun-small:url(../img/nous/youngeun1.jpg);
    --img-yeseo-small:url(../img/nous/yeseo1.jpg);

    --img-yujin-profile:url(../img/nous/yujin2.jpg);
    --img-xiaoting-profile:url(../img/nous/xiaoting2.jpg);
    --img-mashiro-profile:url(../img/nous/mashiro2.jpg);
    --img-chaehyun-profile:url(../img/nous/chae2.jpg);
    --img-dayeon-profile:url(../img/nous/dayeon2.jpg);
    --img-hikaru-profile:url(../img/nous/hikaru2.jpg);
    --img-hiyyih-profile:url(../img/nous/hiyyih2.jpg);
    --img-youngeun-profile:url(../img/nous/youngeun2.jpg); 
    --img-yeseo-profile:url(../img/nous/yeseo2.jpg);

    --profile-position:top;
    --hiyyih-position:center;
}

body {
    padding: 0px;
    margin: 0px;

    /*********Barre de Navigation*********/

    .navbar {
        background-color:var(--color-bg);
        border-bottom: 1px solid #A97DDB;
        position: fixed;
        width: 100%;
        z-index: 99;

        .nav-first {

            img {
                width: 20%;
                padding: 15px;
            }

            button {
                background:var(--color-bg); 
                border:0px;
                font-size:2rem;
                color:var(--violet-k);
            }
        }

        a {
            color: var(--violet-k);
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            font-size: 1.5rem;
            font-style: italic;
        }

        a:hover {
            color: var(--violet-k);
        }
    }

    /*********Header*********/

    header {
        background-image:var(--img-header);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;

        titre {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 6rem;
                text-transform: uppercase;
                color: #fff;
                font-weight: 800;
                font-style: italic;
                text-shadow: 0px 0px 15px #E2D6EE, 0px 0px 15px #E2D6EE;
                margin-top: 8rem;
            }
        }

    }

    /*********SECTION MEMBRES*********/

    .titre-section {
        width: 100%;
        height: 390px;
        background: url(../img/kep3_section.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #C1AED7;
        border-bottom: 1px solid #C1AED7;

        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 4rem;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
            color: var(--violet-k);
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            font-weight: 600;
            color: #D0AFF6;
        }
    }

    .members {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;

        .profile {
            flex: 1;
            background: url(https://placehold.co/200x460.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            height: 460px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            margin: 0px;
            gap: 0;

            .profile-slider {
                margin-top: 30rem;
                transition: 0.5s ease-out;
                width: 100%;

                &:hover {
                    margin-top: 10rem;
                    transition: 0.5s ease-in;
                }

                .p-trs {
                    width: 0px;
                    height: 0px;
                    border-bottom: 50px solid rgba(169, 125, 219, 0.8);
                    border-right: 200px solid transparent;
                }

                .p-bg {
                    background: rgba(169, 125, 219, 0.8);
                    margin-top: 0px;
                    transition: 1s ease-out;
                    padding: 20px;
                    width: 100%;
                    height: 100%;
                }

                .p-bg:hover {
                    transition: 1s ease-out;
                    margin-top: 0px;
                }

                .p-info {
                    background:var(--color-bg);
                    padding: 15px;
                    text-align: center;
                    width: auto;
                    height: 220px;

                    p {
                        font-family: montserrat;
                        color:var(--color-text);
                        font-size: 1rem;
                    }

                    a {
                        background:var(--bg-profile);
                        color: #000;
                        font-family: montserrat;
                        text-decoration: none;
                        padding: 8px;
                        border-radius: 15px;
                        font-size: 12px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }
    }

    /*********SECTION CHANSONS*********/

    .album {
        width: 100%;
        padding: 0px;
        margin: 0px;

        /***3 TRACKS HIGHLIGHT***/

        .main-tracks {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background:var(--bg-title-tracks);
            padding: 50px 0px;

            .main-module {
                display: flex;
                flex-direction: column;

                .main-bg {
                    width: 400px;
                    height: 360px;
                    background: url(https://placehold.co/400x360.png);
                    border: 1px solid #C1AED7;

                    .main-color {
                        background: rgba(228, 202, 255, 0.6);
                        width: 100%;
                        height: 100%;

                        .main-watch {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            transition: 0.5s;

                            &:hover {
                                opacity: 1;
                                transition: 0.5s;
                            }

                            a {
                                text-decoration: none;
                                color: #fff;

                                span {
                                    font-family: montserrat;
                                    font-weight: 600;
                                    color: #fff;
                                    text-transform: uppercase;
                                    font-size: 1.2rem;
                                }

                                i {
                                    color: #fff;
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }

                .main-title {
                    width: 400px;
                    height: 90px;
                    overflow: hidden;
                    text-align: center;
                    border: 1px solid #C1AED7;
                    border-top: 0px;
                    display: flex;
                    align-items: center;
                    background:var(--bg-tracks);

                    span {
                        text-align: center;
                        font-family: 'Playfair Display', serif;
                        color: var(--violet-k);
                        paint-order: stroke fill;
                        -webkit-text-stroke: 2px #fff;
                        font-weight: 600;
                        font-size: 3rem;
                        padding: 15px;
                        padding-left: 50px;
                        position: absolute;
                        z-index: 4;
                    }

                    i {
                        font-size: 6.2rem;
                        color: rgb(193, 159, 230, 1);
                        position: relative;
                        left: -37.5rem;
                        top: 0rem;
                        z-index: 2
                    }

                    .main-2 {
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        z-index: 3;
                        left: -12rem;
                        transition: 0.4s ease-out;

                        &:hover {
                            left: -3.5rem;
                            transition: 0.4s ease-in;
                        }

                        .main-barre {
                            background: rgba(233, 213, 255, 0.8);
                            width: 450px;
                            height: 90px;
                        }

                        .main-split {
                            width: 0px;
                            height: 0px;
                            border-left: 60px solid rgba(233, 213, 255, 0.8);
                            border-bottom: 90px solid transparent;
                        }
                    }
                }
            }
        }

        /***LISTE CHANSON ALBUM***/

        .second-tracks {
            background: var(--bg-section);
            padding: 50px 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3rem;
            justify-content: center;

            .list {
                width: 62%;
                background: #fff;
                border: 1px solid #C1AED7;
                border-bottom: 0px;

                .title {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    align-items: center;
                    border-bottom: 1px solid #C1AED7;

                    i {
                        color: rgb(193, 159, 230, 0.5);
                        font-size: 5.3rem;
                        position: relative;
                        top: 0.3rem;
                        z-index: 1;
                    }

                    p {
                        font-family: montserrat;
                        font-weight: 400;
                        font-size: 1rem;
                        text-transform: uppercase;
                        float: right;
                        position: relative;
                        top: 0.5rem;
                    }

                    b {
                        font-family: 'Playfair Display', serif;
                        font-weight: 600;
                        font-style: italic;
                        font-size: 1.2rem;
                        padding: 0px 15px;
                        text-transform: uppercase;
                        color: #D0AFF6;
                    }

                    span {
                        font-family: 'Playfair Display', serif;
                        font-size: 2.3rem;
                        color: var(--violet-k);
                        padding: 15px;
                        font-weight: 600;
                        line-height: 100%;
                        paint-order: stroke fill;
                        -webkit-text-stroke: 3px #fff;
                        position: relative;
                        left: -1.8rem;
                        top: 0rem;
                        z-index: 3;
                        width: 650px;
                    }
                }
            }

            /***TITLE TRACKS JP***/

            .title-tracks {
                display: flex;
                flex-direction: column;
                width: 30%;
                justify-content: flex-start;
                gap: 1rem;

                .mv {
                    display: flex;
                    flex-direction: column;

                    .mv-img {
                        width: 100%;
                        background: url(https://placehold.co/440x200.png);
                        height: 150px;
                    }

                    .mv-title {
                        padding: 20px;
                        font-family: montserrat;
                        font-weight: 600;
                        font-size: 1.2rem;
                        color: #fff;
                        background: var(--violet-k);
                        text-transform: uppercase;
                        line-height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    /*********SECTION FIN*********/

    .last {
        background:var(--img-footer);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .contact {
        background:var(--bg-section);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sub-title {
            width: 70%;
            padding: 50px 0px 30px 0px;

            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                color: #fff;
                font-size: 4.3rem;
                position: relative;
                z-index: 2;
                paint-order: stroke fill;
                -webkit-text-stroke: 3px #D0AFF6;
            }
        }

        .kep1er-about {
            display: flex;
            flex-direction: row;
            width: 70%;
            background: #fff;
            border: 1px solid #C1AED7;
            margin: 0px 0px 50px 0px;

            .kep1er-desc {
                background: #fff;
                border-right: 1px solid #C1AED7;
                height: 150px;
                overflow: hidden;

                p {
                    padding: 20px;
                    font-family: montserrat;
                    font-size: 1rem;
                    text-align: justify;
                    color: #000;
                }

            }

            .project,
            .group,
            .k-profile {
                background: #fff;
                border-right: 1px solid #C1AED7;
                height: 150px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                text-align: left;

                i {
                    color: rgba(193, 159, 230, 0.5);
                    font-size: 9rem;
                    position: relative;
                    z-index: 1;
                    left: -1rem;
                    top: -1rem;
                }

                a {
                    position: relative;
                    z-index: 2;
                    color: #000;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: montserrat;
                    paint-order: stroke fill;
                    -webkit-text-stroke: 3px #fff;
                    font-size: 1rem;
                    text-transform: uppercase;
                    top: -2rem;
                    left: 1rem;
                }
            }

        }

        .kep1er-tab {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;

            .kep1er-socials {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding-bottom: 80px;

                .top {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #C1AED7;
                    border-bottom: 0px;

                    .youtube {
                        background: #fff;
                        border-right: 1px solid #C1AED7;
                        padding: 30px;
                        height: 80px;
                        overflow: hidden;

                        a {
                            color: var(--violet-k);
                            font-family: 'Playfair Display', serif;
                            font-weight: 800;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            position: relative;
                            z-index: 4;
                            top: -0.4rem;
                            paint-order: stroke fill;
                            -webkit-text-stroke: 3px #fff;
                        }

                        i {
                            position: relative;
                            color: rgba(193, 159, 230, 0.5);
                            font-size: 6rem;
                            z-index: 1;
                            top: -3.2rem;
                            left: 4.2rem;
                        }
                    }

                    .social-title {
                        background: #fff;
                        padding: 30px;
                        height: 80px;
                        overflow: hidden;

                        span {
                            white-space: nowrap;
                            font-style: italic;
                            color: #D0AFF6;
                            font-family: 'Playfair Display', serif;
                            font-weight: 600;
                            font-size: 5.7rem;
                            top: -3.8rem;
                            left: -3.5rem;
                            position: relative;
                            letter-spacing: -5px;

                        }
                    }

                }

                .bottom {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #C1AED7;

                    .insta {
                        border-right: 1px solid #C1AED7;
                        background: #fff;
                        flex: 1;
                        padding: 20px;
                        height: 70px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a {
                            color: var(--violet-k);
                            font-family: 'Playfair Display', serif;
                            font-weight: 600;
                            font-size: 1.2rem;
                            text-decoration: none;
                            position: relative;
                            z-index: 3;
                        }

                        i {
                            position: relative;
                            color: rgba(193, 159, 230, 0.5);
                            font-size: 3.5rem;
                            z-index: 1;
                            z-index: 1;
                            top: -0.8rem;
                        }
                    }

                    .twitter {
                        border-right: 1px solid #C1AED7;
                        background: #fff;
                        flex: 1;
                        padding: 20px;
                        height: 70px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a {
                            color: var(--violet-k);
                            font-family: 'Playfair Display', serif;
                            font-weight: 600;
                            font-size: 1.2rem;
                            text-decoration: none;
                            position: relative;
                            z-index: 3;
                        }

                        i {
                            position: relative;
                            color: rgba(193, 159, 230, 0.5);
                            font-size: 4.8rem;
                            z-index: 1;
                            z-index: 1;
                            top: -1.4rem;
                        }
                    }

                    .jp {
                        background: #fff;
                        flex: 1;
                        padding: 20px;
                        height: 70px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a {
                            color: var(--violet-k);
                            font-family: 'Playfair Display', serif;
                            font-weight: 600;
                            font-size: 1.2rem;
                            text-decoration: none;
                            position: relative;
                            z-index: 3;
                        }

                        i {
                            position: relative;
                            color: rgba(193, 159, 230, 0.5);
                            font-size: 4.5rem;
                            z-index: 1;
                            z-index: 1;
                            top: -1.3rem;
                        }
                    }

                }
            }


            .icon-socials {
                border: 1px solid #C1AED7;
                border-left: 0px;
                width: 20%;
                background: #fff;
                height: 9.5rem;
                overflow: hidden;

                i {
                    position: relative;
                    z-index: 1;
                    font-size: 8rem;
                    color: #E5CEFF;
                    top: -6rem;
                    left: 11.2rem;
                }

                a {
                    color: var(--violet-k);
                    text-decoration: none;
                    font-family: montserrat;
                    font-weight: 800;
                    paint-order: stroke fill;
                    -webkit-text-stroke: 3px #fff;
                    font-size: 1rem;
                    padding: 20px;
                    top: 1rem;
                    position: relative;
                    z-index: 3;
                    line-height: 1rem;
                }

                p {
                    font-family: montserrat;
                    font-size: 0.7rem;
                    color: #000;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 2;
                    padding: 20px;
                }
            }

        }

        .contact-form {
            background: #fff;
            border: 1px solid #C1AED7;
            width: 70%;
            margin: 0px 0px 80px 0px;

            .contact-both {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                align-items: flex-start;
                gap: 2rem;

                .form {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                }

                .contact-link {
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;
                    padding: 15px;

                    .links {
                        display: flex;
                        flex-direction: column;
                        text-align: left;

                        b {
                            font-family: montserrat;
                            text-transform: uppercase;
                            color: #000;
                            font-size: 1rem;
                        }

                        a {
                            color: var(--violet-k);
                            text-decoration: none;
                            font-size: 1rem;
                            font-family: montserrat;
                            font-weight: 500;
                        }

                    }

                }

            }

        }

    }

    /*********FOOTER*********/

    footer {
        background:var(--color-bg);
        border-top: 1px solid #A97DDB;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;

        p {
            font-family: montserrat;
            font-size: 1rem;
            color: var(--violet-k);
            text-transform: uppercase;
            font-weight: 400;
            padding: 0px 20px;
        }

        a {
            color: var(--violet-k);
            text-decoration: none;
            font-weight: 600;
        }

        span {
            font-family: montserrat;
            font-size: 1rem;
            color: var(--violet-k);
            text-transform: uppercase;
            font-weight: 400;
            padding: 0px 20px;
        }
    }

    /************PAGE MEMBRES************/

    .space {
        width: 100%;
        height: 5rem;
    }

    /***SECTION ONGLETS PROFILS***/

    .profils {

        .nav-tabs {
            border: 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .nav-link {
                border: 0px;

                i {
                    font-size: 2rem;
                    padding: 20px 0px;
                }
            }

            #yujin-tab,
            #xiaoting-tab,
            #mashiro-tab,
            #chaehyun-tab,
            #dayeon-tab,
            #hikaru-tab,
            #hiyyih-tab,
            #youngeun-tab,
            #yeseo-tab {
                color: #e0cff2;
            }

            #yujin-tab,
            #xiaoting-tab,
            #mashiro-tab,
            #chaehyun-tab,
            #dayeon-tab,
            #hikaru-tab,
            #hiyyih-tab,
            #youngeun-tab,
            #yeseo-tab {
                &.active {
                    color: var(--violet-k);
                }
            }
        }

        /***CONTENU DES ONGLETS***/

        .tab-content {

            .tab-pane {

                .k-profile {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border-bottom: 1px solid #C1AED7;

                    .profile-info {
                        background: #ECDCFF;
                        border-right: 1px solid #C1AED7;
                        width: 40%;
                        height: 800px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        /*****TITRE NOM PROFIL*****/

                        .p-top {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            justify-content: center;
                            padding: 40px 0px;

                            .p-star {
                                width: 60px;
                                height: 60px;
                                overflow: hidden;
                                border: 1px solid #C1AED7;
                                background: #fff;
                                overflow: hidden;

                                i {
                                    color: rgba(193, 159, 230, 0.5);
                                    font-size: 4.5rem;
                                    position: relative;
                                    top: -0.5rem;
                                    left: -0.6rem;
                                }
                            }

                            .p-title {
                                height: 60px;
                                width: 70%;
                                background: #fff;
                                border: 1px solid #C1AED7;
                                border-left: 0px;
                                overflow: hidden;

                                h3 {
                                    font-family: 'Playfair Display', serif;
                                    font-size: 3rem;
                                    color: var(--violet-k);
                                    font-weight: 600;
                                    font-style: italic;
                                    padding: 0px 20px;
                                }
                            }
                        }

                        .p-middle {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: center;
                            justify-content: center;

                            .p-tbl {
                                display: flex;
                                flex-direction: row;

                                .middle-2 {
                                    display: flex;
                                    flex-direction: column;

                                    .p-question {
                                        display: flex;
                                        flex-direction: row;

                                        .p-label {
                                            background: #fff;
                                            border: 1px solid #C1AED7;
                                            border-right: 0px;
                                            border-bottom: 0px;
                                            width: 150px;
                                            padding: 15px;
                                            font-family: montserrat;
                                            font-weight: 800;
                                            color: #000;
                                            line-height: 100%;
                                            text-transform: uppercase;
                                            font-size: 1rem;
                                        }

                                        .p-info {
                                            background: #fff;
                                            border: 1px solid #C1AED7;
                                            border-right: 0px;
                                            border-bottom: 0px;
                                            width: 230px;
                                            padding: 15px;
                                            font-family: montserrat;
                                            font-weight: 400;
                                            color: #000;
                                            font-size: 1rem;
                                            line-height: 100%;
                                        }
                                    }
                                }

                                .p-box {
                                    background: #fff;
                                    border: 1px solid #C1AED7;
                                    border-bottom: 0px;
                                    width: 105px;

                                    .box-bg {
                                        display: flex;
                                        flex-direction: column;
                                        position: relative;
                                        top: 2.1rem;

                                        .bg-tr {
                                            width: 0px;
                                            height: 0px;
                                            border-bottom: 30px solid rgba(169, 125, 219, 0.8);
                                            border-right: 102px solid transparent;
                                        }

                                        .bg-bloc {
                                            background: rgba(169, 125, 219, 0.8);
                                            padding: 20px;
                                            width: 100%;
                                            height: 170px;
                                            display: flex;
                                            align-items: flex-end;

                                            span {
                                                background: #fff;
                                                padding: 10px;
                                                text-align: center;
                                                height: 70px;

                                                a {
                                                    font-weight: 600;
                                                    font-family: montserrat;
                                                    text-decoration: none;
                                                    font-size: 0.9rem;
                                                    color: #000;
                                                    line-height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                            }

                            .p-position {
                                display: flex;
                                flex-direction: row;

                                .label {
                                    background: #fff;
                                    border: 1px solid #C1AED7;
                                    border-right: 0px;
                                    width: 150px;
                                    padding: 15px;
                                    font-family: montserrat;
                                    font-weight: 800;
                                    color: #000;
                                    line-height: 100%;
                                    text-transform: uppercase;
                                    font-size: 1rem;
                                }

                                .info {
                                    background: #fff;
                                    border: 1px solid #C1AED7;
                                    width: 335px;
                                    padding: 15px;
                                    font-family: montserrat;
                                    font-weight: 400;
                                    color: #000;
                                    font-size: 1rem;
                                    line-height: 100%;
                                }

                            }
                        }

                        .p-end {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 40px 0px;

                            .p-bio {
                                background: #fff;
                                border: 1px solid #C1AED7;
                                width: 80%;
                                height: 280px;

                                span {
                                    font-family: montserrat;
                                    color: #000;
                                    font-weight: 800;
                                    text-transform: uppercase;
                                }

                                p {
                                    font-family: montserrat;
                                    font-size: 0.9rem;
                                    text-align: justify;
                                    color: #000;
                                    padding: 20px;
                                }
                            }
                        }

                    }

                    .profile-img {
                        background: url(https://placehold.co/200x460.png);
                        height: 800px;
                        width: 60%;
                    }
                }
            }


        }
    }

    /************PAGE PROJET************/

    .project-cover {
        width: 100%;
        height: 100vh;
        background:var(--img-cover);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-txt {
        background: #ECDCFF;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sub-title {
            width: 70%;
            padding: 50px 0px 30px 0px;

            .sub-line {
                border: 1px solid #fff;
                width: 100%;
                position: relative;
                z-index: 1;
                top: 3rem;
            }

            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                color: #fff;
                font-size: 4.3rem;
                position: relative;
                z-index: 2;
                paint-order: stroke fill;
                -webkit-text-stroke: 3px #D0AFF6;
            }
        }

        .project-gp9 {
            width: 70%;
            background: #fff;
            border: 1px solid #C1AED7;

            p {
                padding: 20px;
                font-size: 1rem;
                color: #000;
                text-align: justify;
                font-family: montserrat;
            }
        }

        .project-kep1er {
            width: 70%;
            background: #fff;
            border: 1px solid #C1AED7;
            margin-bottom: 60px;

            p {
                padding: 20px;
                font-size: 1rem;
                color: #000;
                text-align: justify;
                font-family: montserrat;
            }

        }

        .project-on {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .official-website {
                background: #fff;
                border: 1px solid #C1AED7;
                border-top: 0px;
            }

            .official-credit {
                background: #fff;
                border: 1px solid #C1AED7;
                border-top: 0px;
                font-family: montserrat;
                font-size: 0.9rem;
            }
        }

        .credit-tab {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            .credit-top {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: stretch;

                .credit-design {
                    background: #fff;
                    border: 1px solid #C1AED7;
                    border-right: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    p {
                        padding: 20px;
                        font-family: montserrat;
                        font-size: 1rem;
                        color: #000;
                    }
                }

                .credit-info {
                    background: #fff;
                    border: 1px solid #C1AED7;

                    p {
                        padding: 20px;
                        font-family: montserrat;
                        font-size: 1rem;
                        color: #000;
                    }
                }
            }

            .credit-other {
                background: #fff;
                border: 1px solid #C1AED7;
                border-top: 0px;

                p {
                    padding: 20px;
                    font-family: montserrat;
                    font-size: 1rem;
                    color: #000;
                }
            }
        }
    }
}